<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace of mind from prototype to production</p>
</section>

<section class="row">
  <article class="column">
    <h2>ChatRoom</h2>
    <ul>
      <li>
        <span><%= link "Room:Lobby", to: Routes.chat_path(@conn, :index) %></span>
      </li>   
    </ul>
  </article>
</section>
